@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;750;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* GT Alpina font face */
  @font-face {
    font-family: 'GT Alpina';
    src: url('https://fonts.cdnfonts.com/s/19141/GT-Alpina-Standard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'GT Alpina';
    src: url('https://fonts.cdnfonts.com/s/19141/GT-Alpina-Standard-Light-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }

  * {
    @apply border-black;
  }
  
  body {
    @apply bg-celo-tan text-black;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'GT Alpina', 'Times New Roman', serif;
    font-weight: 300;
    letter-spacing: -0.02em;
  }
}

@layer utilities {
  .text-alpina {
    font-family: 'GT Alpina', 'Times New Roman', serif;
    font-weight: 300;
  }

  .border-3 {
    border-width: 3px;
  }

  .border-t-3 {
    border-top-width: 3px;
  }

  .border-b-3 {
    border-bottom-width: 3px;
  }

  .border-l-3 {
    border-left-width: 3px;
  }

  .border-r-3 {
    border-right-width: 3px;
  }

  .border-brutal {
    border: 3px solid black;
  }

  .hover-invert:hover {
    @apply bg-black text-celo-yellow;
  }

  .transition-brutal {
    transition: all 0.1s ease-in-out;
  }

  /* Better tap targets for mobile */
  @media (max-width: 640px) {
    button, a {
      min-height: 44px;
    }
  }
}
